* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 154, 74);
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c3c3c3;
    padding: 3px 0;
}

.todo > .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos {
    height: 45vh;
}

.todo-list {
    height: 90%;
    padding: 10px;
}

.hero-body .box {
    overflow: scroll;
}

.box {
    position: relative;
}

.is-done {
    text-decoration: line-through;
    color: blue;
}