{% load static from static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ваши задачи</title>
    <link rel="stylesheet" href="{% static 'bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="https://w7.pngwing.com/pngs/630/295/png-transparent-opsu-beatmap-player-for-android-google-play-encapsulated-postscript-homework-angle-opensource-software-logos.png" alt="Logo"  />
              </a>
              <span class="navbar-burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active"> Home </a>
                <a class="navbar-item"> Examples </a>
                <a class="navbar-item"> Documentation </a>
                <span class="navbar-item">
                  <a class="button is-success is-inverted">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>Download</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>

      <div class="hero-body">
        {% block content %}
        {% endblock %}
      </div>
      <div class="hero-foot">
        {% block footer %}
        {% endblock %}
      </div>
    </section>
  </body>
</html>
